.post-container{
    display: block;
}

.post-container-header{
    display: flex;
}

.post-container-header img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}


.post-container-header .post-container-header-bloc div img{
    width: 20px;
    height: 20px;
    
}

.post-container-header-bloc{
    display: block;
}
.post-container-header-bloc div{
    display: flex;
    font-weight: 600;
    font-size: 13.6px;
    margin-left: 9px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}
.post-container-header .post-container-header-bloc span{
    color: grey;
    font-size: 13px;
    margin-left: 3px;
}

.post-container-header-bloc .comment{
    color: black;
    font-size: 12px;
    font-weight: normal;
}
