.post-container{
    display: block;
}

.post-container-header{
    display: flex;
}

.post-container-header img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}


.post-container-header .post-container-header-bloc div img{
    width: 22px;
    height: 22px;
    
}

.post-container-header-bloc{
    display: block;
}
.post-container-header-bloc div{
    display: flex;
    font-weight: bold;
}
.post-container-header .post-container-header-bloc span{
    color: grey;
    font-size: 13px;
    margin-left: 3px;
}
