.sidebar-left{
    position: fixed;
    background-color:rgb(252, 250, 250);
    bottom: 0;
    left: 0;
    width: 280px;
    top: 0;
    border-right-color: rgb(233, 233, 233);
    border-right-width: 0.1px;
    border-right-style: solid;
}
.sidebar-right{
    position: fixed;
    bottom: 0;
    background-color: red;
    top: 0;
    right: 0;
    width: 380px;
    background-color:rgb(252, 250, 250);
    border-left-color: rgb(233, 233, 233);
    border-left-width: 0.1px;
    border-left-style: solid;
}
.nav-top{
    left: 281px;
    background-color:rgb(253, 251, 251);
    top: 0;
    position: fixed;
    right: 381px;
    height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: rgb(233, 233, 233);
    border-bottom-width: 0.0px;
    border-bottom-style: solid;
}
.nav-top p{
    font-weight: 600;
    margin-left: 12px;
    font-size: 18px;
    cursor: pointer;
}
.nav-top img{
    width: 35px;
    cursor: pointer;
    margin-right: 12px;
}
.tweet-logo{
    width: 35px;
    position:absolute;
    left: 30px;
    top: 20px;
}
.menu-container{
    display: flex;
    position: absolute;
    top: 90px;
    left: 30px;
}

.icon-menu{
    width: 25px;
}